In [1]:
import pandas as pd
from query import Query
from queries import *
from functions import *
from os.path import join
import Utility

In [2]:
fuseki_infai = Query("https://skynet.coypu.org/coypu-internal-static/", "katherine", "0CyivAlseo", 'basic')

In [ ]:
print(fuseki_infai.headers)
print(query_conflict)

## Extract data from Skynet

In [3]:
path = 'dataset/'

In [4]:
fuseki_infai.post_query(construct_query_disaster)
fuseki_infai.to_save(path, filename='construct_query_disaster')
fuseki_infai.post_query(construct_query_conflict)
fuseki_infai.to_save(path, filename='construct_query_conflict')
fuseki_infai.post_query(construct_query_company)
fuseki_infai.to_save(path, filename='construct_query_company')
# fuseki_infai.post_query(construct_query_SPEvent)
# fuseki_infai.to_save(path, filename='construct_query_SPEvent')

Passed Query Description: 200
Total time taken by post_query function: 0.2826545238494873
Total time taken by to_save function: 0.10153722763061523
Passed Query Description: 200
Total time taken by post_query function: 53.68759751319885
Total time taken by to_save function: 13.677990198135376
Passed Query Description: 200
Total time taken by post_query function: 46.231377363204956
Total time taken by to_save function: 8.798089027404785

In [4]:
fuseki_infai.post_query(construct_query_company)
fuseki_infai.to_save(path, filename='construct_query_company')

Passed Query Description: 200
Total time taken by post_query function: 46.47694993019104
Total time taken by to_save function: 30.407630681991577

In [ ]:
print(fuseki_infai.response.headers['Content-Type'])

In [ ]:
print(fuseki_infai.response.headers['Content-Type'])
save_path = ''
filename = 'construct_query_conflict'
with open(join(save_path, filename+'.csv'), 'wb') as fd:
    for chunk in fuseki_infai.response.iter_content(chunk_size=1024):#iter_lines():
#         print(chunk, '=====')
        fd.write(chunk)

# Pre-processing data

In [5]:
filename='construct_query_disaster'

df_g, g = turtle_to_df(path, filename)
df_g = filter_by_year_disaster(g, 2022, df_g)
df_g = adding_prefix(df_g)
df_g.to_csv(path+filename+'.csv', index=None)
display(df_g.shape, df_g.head(2))

triples: 2461

C:\Users\rivasa\Anaconda3\lib\site-packages\rdflib\plugins\serializers\nt.py:35: UserWarning: NTSerializer always uses UTF-8 encoding. Given encoding was: None
  warnings.warn(

(695, 3)

,s,p,o
2,event:reliefweb/51147,coy:hasEndTimestamp,2022-09-15T13:12:28+00:00^^xsd:dateTime
3,event:reliefweb/51357,coy:hasEventType,FL@en

In [6]:
filename='construct_query_conflict'

df_g, g = turtle_to_df(path, filename)
df_g = filter_by_year_conflict(fuseki_infai, path, 2022, df_g)
df_g = adding_prefix(df_g)
df_g.to_csv(path+filename+'.csv', index=None)
display(df_g.shape, df_g.head(2))

triples: 8790172

C:\Users\rivasa\Anaconda3\lib\site-packages\rdflib\plugins\serializers\nt.py:35: UserWarning: NTSerializer always uses UTF-8 encoding. Given encoding was: None
  warnings.warn(

Passed Query Description: 200
Total time taken by post_query function: 0.5408346652984619
Total time taken by to_save function: 38.02340388298035

(1436105, 3)

,s,p,o
11,event:acled/9110722,coy:hasActor,acled:Protesters_%28Australia%29
16,event:acled/8762051,coy:hasCountryLocation,country:PAK

In [7]:
filename='construct_query_company'

df_g, g = turtle_to_df(path, filename)
# df_g = adding_prefix(df_g)
# df_g.to_csv(filename+'.csv', index=None)
display(df_g.shape, df_g.head(2))

triples: 6508362

C:\Users\rivasa\Anaconda3\lib\site-packages\rdflib\plugins\serializers\nt.py:35: UserWarning: NTSerializer always uses UTF-8 encoding. Given encoding was: None
  warnings.warn(

(6508362, 3)

,s,p,o
0,<https://data.coypu.org/company/gleif/213800I4...,<https://schema.coypu.org/global#isActive>,ACTIVE
1,<https://data.coypu.org/company/gleif/815600C4...,<http://www.w3.org/1999/02/22-rdf-syntax-ns#type>,<https://schema.coypu.org/global#Company>

In [8]:
fuseki_infai.post_query(query_company)
df_1 = fuseki_infai.to_save(path, filename='select_query_company')

replacement_mapping_dict = dict(zip(df_1.iso2Code, df_1.countryCode))
df_g['o'].replace(replacement_mapping_dict, inplace=True)
df_g = adding_prefix(df_g)
df_g['p'].replace({'coy:hasCountry': 'coy:hasCountryLocation'}, inplace=True)
df_g.to_csv(path+filename+'.csv', index=None)
df_g

Passed Query Description: 200
Total time taken by post_query function: 0.222059965133667
Total time taken by to_save function: 20.499078273773193

,s,p,o
0,https://data.coypu.org/company/gleif/213800I4C...,coy:isActive,ACTIVE
1,https://data.coypu.org/company/gleif/815600C47...,type:type,coy:Company
2,https://data.coypu.org/company/gleif/549300M00...,coy:hasCountryLocation,country:BEL
3,https://data.coypu.org/company/gleif/984500A09...,coy:isActive,ACTIVE
4,https://data.coypu.org/company/gleif/213800PXL...,coy:isActive,ACTIVE
...,...,...,...
6508357,https://data.coypu.org/company/gleif/549300S8R...,coy:isActive,ACTIVE
6508358,https://data.coypu.org/company/gleif/549300RQF...,type:type,coy:Company
6508359,https://data.coypu.org/company/gleif/8945005ZV...,coy:hasCountryLocation,country:FRA
6508360,https://data.coypu.org/company/gleif/529900823...,coy:isActive,ACTIVE
6508361,https://data.coypu.org/company/gleif/213800Y4C...,coy:isActive,ACTIVE

# From WorldBank KG

In [4]:
from SPARQLWrapper import SPARQLWrapper, JSON

In [5]:
sparql = SPARQLWrapper("https://labs.tib.eu/sdm/worldbank_endpoint/sparql")

### Query to retrive values of a set of indicators by contry in a specific year

In [6]:
q_Country = """SELECT DISTINCT ?s ?o WHERE {
?s a <http://worldbank.org/Country> .
?s <http://www.w3.org/2002/07/owl#sameAs> ?o }"""

df = read_result_country(q_Country, sparql)
df = df[df.o.str.contains("https://data.coypu.org/country/") == True]
df

                                    s                                   o
1    http://worldbank.org/Country/PAK  https://data.coypu.org/country/PAK
5    http://worldbank.org/Country/ABW  https://data.coypu.org/country/ABW
9    http://worldbank.org/Country/AFG  https://data.coypu.org/country/AFG
13   http://worldbank.org/Country/AGO  https://data.coypu.org/country/AGO
17   http://worldbank.org/Country/ALB  https://data.coypu.org/country/ALB
..                                ...                                 ...
844  http://worldbank.org/Country/YEM  https://data.coypu.org/country/YEM
848  http://worldbank.org/Country/ZAF  https://data.coypu.org/country/ZAF
852  http://worldbank.org/Country/ZMB  https://data.coypu.org/country/ZMB
856  http://worldbank.org/Country/ZWE  https://data.coypu.org/country/ZWE
859  http://worldbank.org/Country/XKX  https://data.coypu.org/country/XKX

[216 rows x 2 columns]

In [7]:
query = """
SELECT DISTINCT ?country ?label_indicator ?value ?year WHERE {

    ?country a <http://worldbank.org/Country> .
    #?country <http://www.w3.org/2002/07/owl#sameAs> ?sameAsCountry .
    ?country <http://worldbank.org/hasAnnualIndicatorEntry> ?annualIndicator .
    ?annualIndicator <http://www.w3.org/2002/07/owl#hasValue> ?value .
    ?annualIndicator <http://www.w3.org/2006/time#year> ?year .
    ?annualIndicator <http://worldbank.org/hasIndicator> ?indicator .
    ?indicator <http://www.w3.org/2000/01/rdf-schema#label> ?label_indicator .
    #?country <http://www.w3.org/2000/01/rdf-schema#label> ?label_country .
    
    FILTER(?indicator in (<http://worldbank.org/Indicator/NY.GDP.MKTP.CD>,
    <http://worldbank.org/Indicator/NE.DAB.TOTL.CD>, <http://worldbank.org/Indicator/NY.GDP.PCAP.CN>,
    <http://worldbank.org/Indicator/SI.POV.GINI>, <http://worldbank.org/Indicator/NV.IND.TOTL.ZS>,
    <http://worldbank.org/Indicator/EN.ATM.CO2E.PC>, <http://worldbank.org/Indicator/SH.STA.BASS.ZS>,
    <http://worldbank.org/Indicator/SH.STA.DIAB.ZS>, <http://worldbank.org/Indicator/SH.TBS.INCD>,
    <http://worldbank.org/Indicator/SP.DYN.LE00.IN>, <http://worldbank.org/Indicator/SP.POP.GROW>,
    <http://worldbank.org/Indicator/SH.HIV.INCD.TL.P3>, <http://worldbank.org/Indicator/SH.MED.BEDS.ZS>,
    <http://worldbank.org/Indicator/SH.PRG.ANEM>, <http://worldbank.org/Indicator/SH.PRV.SMOK>,
    <http://worldbank.org/Indicator/SH.STA.BASS.ZS>,
    
    <http://worldbank.org/Indicator/IE.PPI.WATR.CD>, <http://worldbank.org/Indicator/IE.PPN.WATR.CD>,
    <http://worldbank.org/Indicator/NY.GNP.PCAP.CN>, <http://worldbank.org/Indicator/GB.XPD.RSDV.GD.ZS>)
    AND (?year=2021))
}
"""

### Execute the query and store data into a pandas Dataframe

In [8]:
world_bank = []

sparql.setQuery(query)
sparql.setReturnFormat(JSON)
results = sparql.query().convert()


for r in results['results']['bindings']:
    row = {'country': r['country']['value'].replace(',', ''),
           'indicator': r['label_indicator']['value'].replace(',', ''),
           'value': r['value']['value']}
    
    world_bank.append(row)

world_bank = pd.DataFrame.from_dict(world_bank)
world_bank = world_bank.drop_duplicates()
replacement_mapping_dict = dict(zip(df.s, df.o))
world_bank['country'].replace(replacement_mapping_dict, inplace=True)
world_bank = world_bank[world_bank.country.str.contains("https://data.coypu.org/country/") == True]
display(world_bank.shape, world_bank.head(2))

(1242, 3)

,country,indicator,value
0,https://data.coypu.org/country/XKX,Gross national expenditure (current US$),1.19492e+10
1,https://data.coypu.org/country/WSM,Industry (including construction) value added ...,15.0658

In [34]:
df_1 = world_bank[world_bank.country.str.contains("https://data.coypu.org/country/") == False]
# df_1.country.unique()

In [10]:
missing_link = []
for s in df_1.country.unique():    
    query = """SELECT DISTINCT ?label_country WHERE {
        <"""+s+"""> <http://www.w3.org/2000/01/rdf-schema#label> ?label_country .
    }
    """
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    for r in results['results']['bindings']:
        row = {'country': s, 'label_country': r['label_country']['value']}
        missing_link.append(row)

missing_link = pd.DataFrame.from_dict(missing_link)
missing_link

,country,label_country
0,http://worldbank.org/Country/WLD,World
1,http://worldbank.org/Country/AFW,Africa Western and Central
2,http://worldbank.org/Country/AFE,Africa Eastern and Southern
3,http://worldbank.org/Country/ARB,Arab World
4,http://worldbank.org/Country/CHI,Channel Islands
5,http://worldbank.org/Country/CEB,Central Europe and the Baltics
6,http://worldbank.org/Country/CSS,Caribbean small states
7,http://worldbank.org/Country/ECS,Europe & Central Asia
8,http://worldbank.org/Country/EAP,East Asia & Pacific (excluding high income)
9,http://worldbank.org/Country/EAS,East Asia & Pacific
10,http://worldbank.org/Country/EAR,Early-demographic dividend
11,http://worldbank.org/Country/EMU,Euro area
12,http://worldbank.org/Country/ECA,Europe & Central Asia (excluding high income)
13,http://worldbank.org/Country/FCS,Fragile and conflict affected situations
14,http://worldbank.org/Country/EUU,European Union
15,http://worldbank.org/Country/HIC,High income
16,http://worldbank.org/Country/IDB,IDA blend
17,http://worldbank.org/Country/IDX,IDA only
18,http://worldbank.org/Country/IBT,IDA & IBRD total
19,http://worldbank.org/Country/HPC,Heavily indebted poor countries (HIPC)
20,http://worldbank.org/Country/IBD,IBRD only
21,http://worldbank.org/Country/IDA,IDA total
22,http://worldbank.org/Country/LDC,Least developed countries: UN classification
23,http://worldbank.org/Country/LCN,Latin America & Caribbean
24,http://worldbank.org/Country/LIC,Low income
25,http://worldbank.org/Country/LAC,Latin America & Caribbean (excluding high income)
26,http://worldbank.org/Country/LMY,Low & middle income
27,http://worldbank.org/Country/LTE,Late-demographic dividend
28,http://worldbank.org/Country/LMC,Lower middle income
29,http://worldbank.org/Country/MEA,Middle East & North Africa
30,http://worldbank.org/Country/MNA,Middle East & North Africa (excluding high inc...
31,http://worldbank.org/Country/MIC,Middle income
32,http://worldbank.org/Country/NAC,North America
33,http://worldbank.org/Country/OSS,Other small states
34,http://worldbank.org/Country/OED,OECD members
35,http://worldbank.org/Country/PSS,Pacific island small states
36,http://worldbank.org/Country/PRE,Pre-demographic dividend
37,http://worldbank.org/Country/PST,Post-demographic dividend
38,http://worldbank.org/Country/SAS,South Asia
39,http://worldbank.org/Country/SSA,Sub-Saharan Africa (excluding high income)
40,http://worldbank.org/Country/SSF,Sub-Saharan Africa
41,http://worldbank.org/Country/SST,Small states
42,http://worldbank.org/Country/TLA,Latin America & Caribbean (IDA & IBRD)
43,http://worldbank.org/Country/TSA,South Asia (IDA & IBRD)
44,http://worldbank.org/Country/TEA,East Asia & Pacific (IDA & IBRD)
45,http://worldbank.org/Country/TMN,Middle East & North Africa (IDA & IBRD)
46,http://worldbank.org/Country/TEC,Europe & Central Asia (IDA & IBRD)
47,http://worldbank.org/Country/TSS,Sub-Saharan Africa (IDA & IBRD)
48,http://worldbank.org/Country/UMC,Upper middle income

In [ ]:
replacement_mapping_dict

In [21]:
world_bank.indicator.unique().tolist()

['Gross national expenditure (current US$)',
 'Industry (including construction) value added (% of GDP)',
 'GDP (current US$)',
 'GDP per capita (current LCU)',
 'GNI per capita (current LCU)',
 'Gini index',
 'Population growth (annual %)',
 'Diabetes prevalence (% of population ages 20 to 79)',
 'Investment in water and sanitation with private participation (current US$)',
 'Public private partnerships investment in water and sanitation (current US$)',
 'Research and development expenditure (% of GDP)']

In [ ]:
len(world_bank.country.unique())

## Convert the indicator values into five categories

### categories: 'low', 'mediumLow', 'medium', 'mediumHigh', 'high'. (Higher is better)

In [9]:
country_ind = pd.DataFrame()
for indicator in world_bank.indicator.unique().tolist():
    lower = False
    if indicator in ['CO2 emissions (metric tons per capita)', 'Incidence of tuberculosis (per 100000 people)',
                    'Prevalence of anemia among pregnant women (%)',
                     'Incidence of HIV all (per 1000 uninfected population)',
                     'Prevalence of current tobacco use (% of adults)']:
        lower = True
    country_ind = pd.concat([country_ind, Utility.convert_to_category(world_bank, indicator, lower)])
country_ind = country_ind[['country', 'category_indicator', 'indicator']]
country_ind

/media/rivas/Data1/Projects/CoyPU/CoyPu_SemEP/Extracting Data/Utility.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["value"] = pd.to_numeric(df["value"], downcast="float")

,country,category_indicator,indicator
664,https://data.coypu.org/country/COM,low,Gross national expenditure (current US$)
1478,https://data.coypu.org/country/SYC,low,Gross national expenditure (current US$)
572,https://data.coypu.org/country/BLZ,low,Gross national expenditure (current US$)
663,https://data.coypu.org/country/CPV,low,Gross national expenditure (current US$)
804,https://data.coypu.org/country/GMB,low,Gross national expenditure (current US$)
...,...,...,...
1111,https://data.coypu.org/country/LKA,mediumLow,Public private partnerships investment in wate...
1101,https://data.coypu.org/country/BWA,mediumLow,Public private partnerships investment in wate...
1108,https://data.coypu.org/country/IND,medium,Public private partnerships investment in wate...
1102,https://data.coypu.org/country/CHN,mediumHigh,Public private partnerships investment in wate...
1098,https://data.coypu.org/country/BRA,high,Public private partnerships investment in wate...

In [10]:
df_g = adding_prefix(country_ind)

df_g = df_g.rename(columns={"country": "s", "category_indicator": "p", "indicator": "o"})
df_g.to_csv(path+'worldbank.csv', index=None)

In [14]:
df_g

,s,p,o
664,country:COM,low,Gross national expenditure (current US$)
1478,country:SYC,low,Gross national expenditure (current US$)
572,country:BLZ,low,Gross national expenditure (current US$)
663,country:CPV,low,Gross national expenditure (current US$)
804,country:GMB,low,Gross national expenditure (current US$)
...,...,...,...
1111,country:LKA,mediumLow,Public private partnerships investment in wate...
1101,country:BWA,mediumLow,Public private partnerships investment in wate...
1108,country:IND,medium,Public private partnerships investment in wate...
1102,country:CHN,mediumHigh,Public private partnerships investment in wate...
1098,country:BRA,high,Public private partnerships investment in wate...

## From icews_endpoint

In [16]:
sparql = SPARQLWrapper('https://labs.tib.eu/sdm/icews_endpoint/sparql')

In [17]:
query = """
PREFIX coy: <https://schema.coypu.org/global#>
CONSTRUCT {?s a coy:SocioPoliticalEvent .
  ?s coy:hasCountryLocation ?hasCountryLocation .
  ?s coy:hasTargetCountry ?hasTargetCountry .
  ?s coy:hasDate ?hasDate .
  ?s coy:hasTargetSectors ?hasTargetSectors .
  ?s coy:hasTarget ?hasTarget .
  ?s coy:hasIntensity ?hasIntensity .
  ?s coy:hasSourceSectors ?hasSourceSectors .
  ?s coy:hasSourceCountry ?hasSourceCountry}
WHERE {
  ?s a coy:SocioPoliticalEvent .
  ?s coy:hasCountryLocation ?hasCountryLocation .
  #optional{?s coy:hasStoryId ?hasStoryId .}
  optional{?s coy:hasTargetCountry ?hasTargetCountry .}
  optional{?s coy:hasDate ?hasDate .}
  optional{?s coy:hasTargetSectors ?hasTargetSectors .}
  optional{?s coy:hasTarget ?hasTarget .}
  optional{?s coy:hasIntensity ?hasIntensity .}
  optional{?s coy:hasSourceSectors ?hasSourceSectors .}
  optional{?s coy:hasSourceCountry ?hasSourceCountry}
}"""
icews = []
sparql.setQuery(query)
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

for r in results['results']['bindings']:
    row = {'s': r['s']['value'], 'p': r['p']['value'], 'o': r['o']['value']}
    icews.append(row)

icews = pd.DataFrame.from_dict(icews)
# icews = adding_prefix(icews)
icews = filter_by_year(icews, 2022)
display(icews.shape, icews.head(2))

C:\Users\rivasa\Anaconda3\lib\site-packages\SPARQLWrapper\Wrapper.py:979: RuntimeWarning: Sending Accept header '*/*' because unexpected returned format 'json' in a 'CONSTRUCT' SPARQL query form
  warnings.warn("Sending Accept header '*/*' because unexpected returned format '%s' in a '%s' SPARQL query form" % (self.returnFormat, self.queryType), RuntimeWarning)

(427805, 3)

,s,p,o
0,https://data.coypu.org/icews/36671619,https://schema.coypu.org/global#hasDate,2022-01-28
1,https://data.coypu.org/icews/36626838,https://schema.coypu.org/global#hasTarget,Citizen (India)

In [13]:
set([r'{}'.format(i) for i in icews.loc[icews.p=='coy:hasCountryLocation'].o.tolist()])

{'country:Afghanistan',
 'country:Albania',
 'country:Algeria',
 'country:American%20Samoa',
 'country:Andorra',
 'country:Angola',
 'country:Argentina',
 'country:Armenia',
 'country:Australia',
 'country:Austria',
 'country:Azerbaijan',
 'country:Bahamas',
 'country:Bahrain',
 'country:Bangladesh',
 'country:Barbados',
 'country:Belarus',
 'country:Belgium',
 'country:Belize',
 'country:Benin',
 'country:Bolivia',
 'country:Bosnia%20and%20Herzegovina',
 'country:Botswana',
 'country:Brazil',
 'country:Brunei',
 'country:Bulgaria',
 'country:Burkina%20Faso',
 'country:Burundi',
 'country:Cambodia',
 'country:Cameroon',
 'country:Canada',
 'country:Central%20African%20Republic',
 'country:Chad',
 'country:Chile',
 'country:China',
 'country:Colombia',
 'country:Comoros',
 'country:Congo',
 'country:Costa%20Rica',
 'country:Cote%20d%27Ivoire',
 'country:Croatia',
 'country:Cuba',
 'country:Cyprus',
 'country:Czech%20Republic',
 'country:Democratic%20Republic%20of%20Congo',
 'country:Denmark',
 'country:Djibouti',
 'country:Dominican%20Republic',
 'country:Ecuador',
 'country:Egypt',
 'country:El%20Salvador',
 'country:Equatorial%20Guinea',
 'country:Eritrea',
 'country:Estonia',
 'country:Ethiopia',
 'country:Fiji',
 'country:Finland',
 'country:France',
 'country:Gabon',
 'country:Gambia',
 'country:Georgia',
 'country:Germany',
 'country:Ghana',
 'country:Greece',
 'country:Guatemala',
 'country:Guernsey',
 'country:Guinea',
 'country:Guinea-Bissau',
 'country:Guyana',
 'country:Haiti',
 'country:Holy%20See',
 'country:Honduras',
 'country:Hong%20Kong',
 'country:Hungary',
 'country:Iceland',
 'country:India',
 'country:Indonesia',
 'country:Iran',
 'country:Iraq',
 'country:Ireland',
 'country:Israel',
 'country:Italy',
 'country:Jamaica',
 'country:Japan',
 'country:Jordan',
 'country:Kazakhstan',
 'country:Kenya',
 'country:Kiribati',
 'country:Kosovo',
 'country:Kuwait',
 'country:Kyrgyzstan',
 'country:Laos',
 'country:Latvia',
 'country:Lebanon',
 'country:Liberia',
 'country:Libya',
 'country:Lithuania',
 'country:Luxembourg',
 'country:Macao',
 'country:Madagascar',
 'country:Malawi',
 'country:Malaysia',
 'country:Maldives',
 'country:Mali',
 'country:Malta',
 'country:Martinique',
 'country:Mauritania',
 'country:Mauritius',
 'country:Mexico',
 'country:Moldova%2C%20Republic%20of',
 'country:Mongolia',
 'country:Montenegro',
 'country:Morocco',
 'country:Mozambique',
 'country:Myanmar',
 'country:Namibia',
 'country:Nepal',
 'country:Netherlands',
 'country:New%20Zealand',
 'country:Nicaragua',
 'country:Niger',
 'country:Nigeria',
 'country:North%20Korea',
 'country:Norway',
 'country:Occupied%20Palestinian%20Territory',
 'country:Oman',
 'country:Pakistan',
 'country:Panama',
 'country:Paraguay',
 'country:Peru',
 'country:Philippines',
 'country:Poland',
 'country:Portugal',
 'country:Puerto%20Rico',
 'country:Qatar',
 'country:Romania',
 'country:Russian%20Federation',
 'country:Rwanda',
 'country:Saudi%20Arabia',
 'country:Senegal',
 'country:Serbia',
 'country:Seychelles',
 'country:Sierra%20Leone',
 'country:Singapore',
 'country:Slovakia',
 'country:Slovenia',
 'country:Solomon%20Islands',
 'country:Somalia',
 'country:South%20Africa',
 'country:South%20Korea',
 'country:South%20Sudan',
 'country:Spain',
 'country:Sri%20Lanka',
 'country:Sudan',
 'country:Suriname',
 'country:Swaziland',
 'country:Sweden',
 'country:Switzerland',
 'country:Syria',
 'country:Taiwan',
 'country:Tajikistan',
 'country:Tanzania',
 'country:Thailand',
 'country:Timor-Leste',
 'country:Togo',
 'country:Tonga',
 'country:Trinidad%20and%20Tobago',
 'country:Tunisia',
 'country:Turkey',
 'country:Turkmenistan',
 'country:Uganda',
 'country:Ukraine',
 'country:United%20Arab%20Emirates',
 'country:United%20Kingdom',
 'country:United%20States',
 'country:Uruguay',
 'country:Uzbekistan',
 'country:Vanuatu',
 'country:Venezuela',
 'country:Vietnam',
 'country:Western%20Sahara',
 'country:Yemen',
 'country:Zambia',
 'country:Zimbabwe',
 'country:the%20former%20Yugoslav%20Republic%20of%20Macedonia'}

### Get Country and sameAs

In [18]:
q_CountryLocation = """
PREFIX coy: <https://schema.coypu.org/global#>
SELECT DISTINCT ?s ?o
WHERE {
  ?SPE a coy:SocioPoliticalEvent .
  ?SPE coy:hasCountryLocation ?s .
  ?s <http://www.w3.org/2002/07/owl#sameAs> ?o .
}"""
q_TargetCountry = """
PREFIX coy: <https://schema.coypu.org/global#>
SELECT DISTINCT ?s ?o
WHERE {
  ?SPE a coy:SocioPoliticalEvent .
  ?SPE coy:hasTargetCountry ?s .
  ?s <http://www.w3.org/2002/07/owl#sameAs> ?o  .
}"""
q_SourceCountry = """
PREFIX coy: <https://schema.coypu.org/global#>
SELECT DISTINCT ?s ?o
WHERE {
  ?SPE a coy:SocioPoliticalEvent .
  ?SPE coy:hasSourceCountry ?s .
  ?s <http://www.w3.org/2002/07/owl#sameAs> ?o
}"""
df = pd.concat([read_result_country(q_CountryLocation, sparql), read_result_country(q_TargetCountry, sparql),
                read_result_country(q_SourceCountry, sparql)])
df = df.drop_duplicates()

df_temp = pd.DataFrame(data=[['the%20former%20Yugoslav%20Republic%20of%20Macedonia','MKD'],['Egypt','EGY'],
                             ['Kyrgyzstan','KGZ'], ['Moldova%2C%20Republic%20of', 'MDA'], ['Saint%20Lucia', 'LCA'],
                             ['Slovakia', 'SVK'], ['Turkey', 'TUR'], ['Yemen', 'YEM']],columns=['s', 'o'])
df_temp['s'] = 'https://data.coypu.org/country/' + df_temp['s'].astype(str)
df_temp['o'] = 'https://data.coypu.org/country/' + df_temp['o'].astype(str)

df = pd.concat([df, df_temp])
display(df.shape, df)

(751, 2)

,s,o
0,https://data.coypu.org/country/Afghanistan,http://www.wikidata.org/entity/Q889
1,https://data.coypu.org/country/Afghanistan,https://data.coypu.org/country/AFG
2,https://data.coypu.org/country/Afghanistan,http://dbpedia.org/resource/Afghanistan
3,https://data.coypu.org/country/Afghanistan,https://data.coypu.org/country/AF
4,https://data.coypu.org/country/Algeria,http://dbpedia.org/resource/Algeria
...,...,...
3,https://data.coypu.org/country/Moldova%2C%20Re...,https://data.coypu.org/country/MDA
4,https://data.coypu.org/country/Saint%20Lucia,https://data.coypu.org/country/LCA
5,https://data.coypu.org/country/Slovakia,https://data.coypu.org/country/SVK
6,https://data.coypu.org/country/Turkey,https://data.coypu.org/country/TUR
7,https://data.coypu.org/country/Yemen,https://data.coypu.org/country/YEM

### Replacement URI Country by Country Code

In [19]:
df = df[(df["o"].str.len()==34) & (df["o"].str.contains("https://data.coypu.org/country/") == True)]
# df = df[df["o"].str.contains("http://data.coypu.org/country/") == True]
replacement_mapping_dict = dict(zip(df.s, df.o))
icews['o'].replace(replacement_mapping_dict, inplace=True)
icews = adding_prefix(icews)
# icews.to_csv('construct_query_SPEvent.csv', index=None)
icews

,s,p,o
0,SPEvent:36671619,coy:hasDate,2022-01-28
1,SPEvent:36626838,coy:hasTarget,Citizen (India)
2,SPEvent:36671618,coy:hasDate,2022-01-28
3,SPEvent:36674383,coy:hasTarget,Citizen (India)
4,SPEvent:36628992,coy:hasSourceSectors,"Executive,Government,Transportation Ministry"
...,...,...,...
427800,SPEvent:36671621,coy:hasDate,2022-01-28
427801,SPEvent:36651207,coy:hasIntensity,-10.0
427802,SPEvent:36619874,coy:hasIntensity,0.0
427803,SPEvent:36671620,coy:hasDate,2022-01-28
427804,SPEvent:36619926,coy:hasTarget,North Atlantic Treaty Organization

In [20]:
df_1 = icews.loc[icews.p=='coy:hasCountryLocation']
df_1 = df_1[(df_1["o"].str.len()!=11) | (df_1["o"].str.contains("country:") == False)]
df_2 = icews.loc[icews.p=='coy:hasTargetCountry']
df_2 = df_2[(df_2["o"].str.len()!=11) | (df_2["o"].str.contains("country:") == False)]
df_3 = icews.loc[icews.p=='coy:hasSourceCountry']
df_3 = df_3[(df_3["o"].str.len()!=11) | (df_3["o"].str.contains("country:") == False)]
df_4 = df_1.o.unique().tolist() + df_2.o.unique().tolist() + df_3.o.unique().tolist()
set(df_4)

{'country:Bonaire',
 'country:Guernsey',
 'country:Holy%20See',
 'country:Occupied%20Palestinian%20Territory'}

In [21]:
icews = icews.loc[~icews.o.isin(set(df_4))]
icews.to_csv(path+'construct_query_SPEvent.csv', index=None)
icews

,s,p,o
0,SPEvent:36671619,coy:hasDate,2022-01-28
1,SPEvent:36626838,coy:hasTarget,Citizen (India)
2,SPEvent:36671618,coy:hasDate,2022-01-28
3,SPEvent:36674383,coy:hasTarget,Citizen (India)
4,SPEvent:36628992,coy:hasSourceSectors,"Executive,Government,Transportation Ministry"
...,...,...,...
427800,SPEvent:36671621,coy:hasDate,2022-01-28
427801,SPEvent:36651207,coy:hasIntensity,-10.0
427802,SPEvent:36619874,coy:hasIntensity,0.0
427803,SPEvent:36671620,coy:hasDate,2022-01-28
427804,SPEvent:36619926,coy:hasTarget,North Atlantic Treaty Organization

# Creating a file to apply KGE

In [22]:
filename = ['construct_query_disaster', 'construct_query_conflict', 'construct_query_company', 'construct_query_SPEvent',
            'worldbank']
network = pd.DataFrame()
for f_name in filename:
    network = pd.concat([network, pd.read_csv(path+f_name+'.csv')])
display(network.shape, network.head())

(8373632, 3)

,s,p,o
0,event:reliefweb/51147,coy:hasEndTimestamp,2022-09-15T13:12:28+00:00^^xsd:dateTime
1,event:reliefweb/51357,coy:hasEventType,FL@en
2,event:reliefweb/51184,coy:hasEndTimestamp,2022-12-15T21:44:13+00:00^^xsd:dateTime
3,event:reliefweb/51311,coy:hasEventStatus,Past@en
4,event:reliefweb/51202,coy:hasCountryLocation,country:LKA

In [23]:
network.to_csv(path+'network.csv', index=None)